/* .main-container{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: red;
    text-align: center;
}
 */

 .main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-color: #e40000;
    border: 4px solid #000000;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    pointer-events: auto;
  }
  .gate-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* z-index: 1; */
  }
  
  .gate {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }